<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="menu"></mat-toolbar>
    <mat-nav-list>
      <div class ="home">
        <a mat-list-item routerLink="/" (click)="trocaPagina('- Home')">{{home}}</a>
      </div>
      <div class ="instituicoes">
        <a mat-list-item routerLink="/instituicoes" (click)="trocaPagina('- Instituições')">{{inst}}</a>
      </div>
      <div class ="leis">
        <a mat-list-item routerLink="/leis" (click)="trocaPagina('- Leis')">{{leis}}</a>
      </div>
      <div class ="sobre">
        <a mat-list-item routerLink="/sobre" (click)="trocaPagina('- Sobre')">{{sobre}}</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="barra">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="barraPrincipal">Serviço de ajuda para mulheres {{pagAtual}}</span>
    </mat-toolbar>
    <div class ="fundo">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
