.titulo {
  display: flex;
  justify-content: center;
}

.imagem {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.descricao {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: justify;
}

.titulo2 {
  display: flex;
  justify-content: center;
}
.imagem2 {
  display: flex;
  justify-content: center;
}
.botao {
  display: flex;
  justify-content: space-between;
  margin-left: 25vw;
  margin-right: 25vw;
  padding-bottom: 30px;
  margin-top: 30px;
}
img {
  width: 100%;
  border-radius: 5px;
}
