<div class="titulo">
  <h1>{{ listaDeLeis[0].nome }}</h1>
</div>
<div class="imagem">
  <a href="{{ listaDeLeis[0].site }}" target="_blank">
    <img [src]="imagemLei" alt="">
  </a>
</div>
<div class="descricao">
  <p>{{ listaDeLeis[0].descricao }}</p>
</div>
<hr>
<div class="titulo2">
  <h2>Instituições de ajuda</h2>
</div>
<div class=" imagem">
  <img [src]="imagemAtual">
</div>
<hr>
<div class="botao">
  <button mat-raised-button color="primary" (click)="anterior()">Anterior</button>
  <button mat-raised-button color="primary" (click)="proximo()">Próximo</button>
</div>
